<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Home</title>
</head>
<body>
    <h2>Bienvenidos a la Pagina de Django de Federico Urano!!!!!</h2>
    <p style="color:red">{{ Nombre }}</p>
    <p style="color:blue">{{ Apellido }}</p>
    <p style="color:green">{{ DNI }}</p>
    <h4>La fecha de hoy es: {{ fecha_hoy }}</h4>

    {% for nota in notas %}
        {% if nota > 5 %}
            <h4>Aprobado con {{nota}}</h4>
        {% else %}
            <h4>Desaprobado con {{nota}}</h4>    
        {% endif %}

    {% endfor %}
</body>
</html>